<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="catalog">
		<h1>Catalog App</h1>

		{% if user_id != None %}
	    <div id="logout">
	        <a href="{{url_for('gdisconnect')}}">
	            <button class = "logout">Logout</button>
	        </a>
	    </div>
    	{% else %}
	    <div id="login">
	        <a href="{{url_for('showLogin')}}">
	            <button class = "login">Login</button>
	        </a>
	    </div>
		{% endif %}
</div>

<div class="container1">		
		{% for i in items %}
		<div>
			{% if i.id == category_id %}

			<h1>{{i.name}}</h1>
			<p>{{i.description}}</p>
			<buttom class="design_buttom_del"><a href = '{{url_for('editItem' , category_id=category_id , item_id=i.id)}}'>Edit |</a></buttom>
			<buttom class="design_buttom_del"><a href = '{{url_for('deleteItem' , category_id=category_id , item_id=i.id)}}'>delete</buttom>
			
			{% endif %}
		</div>
			
			{% endfor %}

</div>

</body>
</html>